

h1{
    font-size:50px;
    text-align:center;
}
h3{
    margin-left: 20px;
}
tr{
    border:1px solid #ffffff;
    text-align: center;
}
ol{
    margin-left: 100px;
    height: 100px;
    width: 350px;
    float: none;
}
th{
    text-align: center;
}
table{
    float: left;
    padding: 10px;
}






