
body{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 10px;
    padding: 10px 
    
}
h1{
    font-size:50px;
    text-align:center;
}
tr{
    border:1px solid #ffffff;
    text-align: center;
}
ol{
    float: left;
    clear: center;
    overflow: auto;
}
th{
    text-align: center;
}
table{
    float: center;
    padding: 10px;
}





