html{
    height: 100%;
}
header, footer{
    background-color: black;
    color: white;
    border-style: double;
    border-color: white;
}
footer{
    margin-top: 100px;
}
nav{
    text-align: left;
}
a:link{
    
}
a:visited{
    
}
a:hover{
    
}
a:active{
    
}